<ion-content class="page-alerts">
	<div class="bar bar-header bar-calm">
	  <button ui-sref="home" class="button button-clear icon ion-chevron-left"></button>
	  <h1 class="title">Mes alertes</h1>
	</div>

	<div class="content has-header padding">
		<div class="categories">
			<div class="row">
				<div class="col">
					<label class="checkbox category meubles" ng-class="{'active': meubles}">
						<input ng-model="meubles" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category deco" ng-class="{'active': deco}">
						<input ng-model="deco" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category divers" ng-class="{'active': divers}">
						<input ng-model="divers" type="checkbox">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="checkbox category vetements" ng-class="{'active': vetements}">
						<input ng-model="vetements" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category culture" ng-class="{'active': culture}">
						<input ng-model="culture" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category jouets" ng-class="{'active': jouets}">
						<input ng-model="jouets" type="checkbox">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="checkbox category multimedia" ng-class="{'active': multimedia}">
						<input ng-model="multimedia" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category petitelectro" ng-class="{'active': petitelectro}">
						<input ng-model="petitelectro" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category electro" ng-class="{'active': electro}">
						<input ng-model="electro" type="checkbox">
					</label>
				</div>
			</div>			
		</div>


		<div class="list">
			<label class="item item-input">
				<span class="input-label">Localisation</span>
				<input type="text">
			</label>
		</div>

		<div class="list">
		  <div class="item range range-calm">
		  	<label for="">Distance</label>
		    <input type="range" name="volume" min="0" max="100" value="33">
		  </div>
		</div>
			
		<button class="button button-positive button-block">Enregistrer</button>
	</div>
</ion-content>