<ion-content class="page-alerts">
	<div class="bar bar-header bar-calm">
	  <button ui-sref="home" class="button button-clear icon ion-chevron-left"></button>
	  <h1 class="title">Mes alertes</h1>
	</div>

	<div class="content has-header padding">
		<div class="row categories">
			<div class="col">
				<label class="checkbox category meubles">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category deco">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category divers">
					<input type="checkbox">
				</label>
			</div>
		</div>
		<div class="row categories">
			<div class="col">
				<label class="checkbox category vetements">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category culture">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category jouets">
					<input type="checkbox">
				</label>
			</div>
		</div>
		<div class="row categories">

			<div class="col">
				<label class="checkbox category multimedia">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category petitelectro">
					<input type="checkbox">
				</label>
			</div>

			<div class="col">
				<label class="checkbox category electro">
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
</ion-content>