<ion-content class="page-alerts">
	<div class="bar bar-header bar-calm">
	  <button ui-sref="home" class="button button-clear icon ion-chevron-left"></button>
	  <h1 class="title">Mes alertes</h1>
	</div>

	<div class="content has-header padding">
		<div class="categories bloc">
			<div class="row">
				<div class="col">
					<label class="checkbox category meubles" ng-class="{'active': AlertsCtrl.category.FURNITURES}">
						<input ng-model="AlertsCtrl.category.FURNITURES" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category deco" ng-class="{'active': AlertsCtrl.category.DECO}">
						<input ng-model="AlertsCtrl.category.DECO" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category culture" ng-class="{'active': AlertsCtrl.category.CULTURE}">
						<input ng-model="AlertsCtrl.category.CULTURE" type="checkbox">
					</label>
				</div>


			</div>
			<div class="row">
				<div class="col">
					<label class="checkbox category electro" ng-class="{'active': AlertsCtrl.category.ELECTRO}">
						<input ng-model="AlertsCtrl.category.ELECTRO" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category multimedia" ng-class="{'active': AlertsCtrl.category.MULTIMEDIA}">
						<input ng-model="AlertsCtrl.category.MULTIMEDIA" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category petitelectro" ng-class="{'active': AlertsCtrl.category.LITTLEELECTRO}">
						<input ng-model="AlertsCtrl.category.LITTLEELECTRO" type="checkbox">
					</label>
				</div>

			</div>
			<div class="row">
				<div class="col">
					<label class="checkbox category vetements" ng-class="{'active': AlertsCtrl.category.CLOTHES}">
						<input ng-model="AlertsCtrl.category.CLOTHES" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category jouets" ng-class="{'active': AlertsCtrl.category.TOYS}">
						<input ng-model="AlertsCtrl.category.TOYS" type="checkbox">
					</label>
				</div>

				<div class="col">
					<label class="checkbox category divers" ng-class="{'active': AlertsCtrl.category.MISC}">
						<input ng-model="AlertsCtrl.category.MISC" type="checkbox">
					</label>
				</div>
			</div>
		</div>


		<div class="bloc">
			<label>
				<span class="input-label">Localisation</span>
				<input type="text" data-ng-model="AlertsCtrl.address">
			</label>
		</div>

		<div class="bloc">
			<div class="range range-calm">
				<label><span>Distance</span><span data-ng-bind="AlertsCtrl.distance + 'km'"></span>
					<input type="range" name="volume" min="0" max="100" data-ng-model="AlertsCtrl.distance">
				</label>
			</div>
		</div>

		<button class="button button-positive button-block" ng-click="AlertsCtrl.createAlert()">Enregistrer</button>
	</div>
</ion-content>
