<ion-content class="page-profile">
	<div class="bar bar-header bar-calm">
	  <button ui-sref="profile" class="button button-clear icon ion-arrow-left-c"></button>
	  <h1 class="title">Mes badges</h1>
	</div>

	<div class="content has-header padding">
		<div class="row mes-badges">
			<div class="col">
				<div class="b">
					<span class="serial"></span>
				</div>
				<p>Serial Bulkee</p>
			</div>
			<div class="col">
				<div class="b">
					<span class="machine"></span>
				</div>
				<p>Monomaniac Culture</p>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>Monomaniac Meubles</p>
			</div>
		</div>

		<div class="row mes-badges">
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>20 Bulkees en 1&nbsp;semaine</p>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>Loup solitaire</p>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>Tous des enfants</p>
			</div>
		</div>

		<div class="row mes-badges">
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>Serial Bulkee</p>
			</div>
			<div class="col">
				<div class="b">
					<span class="aventurier"></span>
				</div>
				<p>Loup solitaire</p>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
				<p>Tous des enfants</p>
			</div>
		</div>

		<div class="row mes-badges">
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
			</div>
			<div class="col">
				<div class="b lock">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</ion-content>