<ion-modal-view>
  <ion-content style="background-image: url('data:image/jpeg;base64,{{ HomeCtrl.bulk.picture }}');" class="page-home-modal" scroll="false">
    <div class="row row-center categories">
      <div class="col">

      <!-- ROW 1 -->
        <div class="row">
          <div class="col col-center">
            <label class="checkbox category meubles active" ng-click="HomeCtrl.selectCategory('FURNITURES')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category deco active" ng-click="HomeCtrl.selectCategory('DECO')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category culture active" ng-click="HomeCtrl.selectCategory('CULTURE')">
            </label>
          </div>
        </div>

        <!-- ROW 2 -->
        <div class="row">
          <div class="col">
            <label class="checkbox category electro active" ng-click="HomeCtrl.selectCategory('ELECTRO')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category multimedia active" ng-click="HomeCtrl.selectCategory('MULTIMEDIA')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category petitelectro active" ng-click="HomeCtrl.selectCategory('LITLLEELECTRO')">
            </label>
          </div>
        </div>

        <!-- ROW 3 -->
        <div class="row">
          <div class="col">
            <label class="checkbox category vetements active" ng-click="HomeCtrl.selectCategory('CLOTHES')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category jouets active" ng-click="HomeCtrl.selectCategory('TOYS')">
            </label>
          </div>

          <div class="col">
            <label class="checkbox category divers active" ng-click="HomeCtrl.selectCategory('MISC')">
            </label>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
