<ion-content class="page-home">
	<div class="row row-center">
		<div class="col">
			<div class="button-small">
				<a ui-sref="profile" class="params hvr-push"></a>
			</div>
			<div class="button-small">
				<a ui-sref="alerts" class="alert hvr-push"></a>
			</div>
			<div class="button-small">
				<a ui-sref="map" class="map hvr-push"></a>
			</div>
			<div class="button-large">
				<a ui-sref="" class="add hvr-push" ng-click="HomeCtrl.newBulk()"></a>
			</div>
		</div>
	</div>
</ion-content>