<div class="page-login">
	<div class="row row-center">
		<div class="col">
			<img src="img/pictos/bulkee_logo-blanc.svg" class="logo" alt="Bulkee">
			
			<label class="item item-input">
				<input type="text" placeholder="Email" ng-required>
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-required>
			</label>

			<button ui-sref="home" class="button button-block button-positive">Sign up</button>

			<hr>

			<button ui-sref="home" class="button button-block button-balanced">Connect with Facebook</button>
		</div>
	</div>

</div>