<ion-view>
  <ion-header-bar align-title="left" class="bar-transparent">
    <button ui-sref="home" class="button button-clear button-calm icon ion-arrow-left-c"></button>
  </ion-header-bar>

  <ion-content class="page-map no-header" scroll="false">

    <div ng-class="{
      'mini-map': !MapCtrl.map.fullSize,
      'full-map': MapCtrl.map.fullSize
    }">
      <ui-gmap-google-map center="MapCtrl.map.center" zoom="MapCtrl.map.zoom" options="MapCtrl.map.options" control="MapCtrl.control">

        <ui-gmap-marker coords="MapCtrl.marker.coords" options="MapCtrl.marker.options" idkey="MapCtrl.marker.id"></ui-gmap-marker>

        <ui-gmap-markers models="MapCtrl.markers" coords="'coords'" icon="'icon'" click="viewBulkee">
        </ui-gmap-markers>
      </ui-gmap-google-map>

      <div class="bulk-details" ng-show="">
        <div class="photo">
          <img src="img/canape.jpg" alt="">
        </div>
        <div class="infos">
          <span class="time">15 minutes</span>
          <span class="address">rue de la Plaine, 59200 Tourcoing</span>
          <span class="user">par <strong>UserTropSympa</strong> et <strong>4 autres</strong></span>
        </div>
        <div class="pickup"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
