<ion-content class="page-profile">
	<div class="bar bar-header bar-calm">
	  <button ui-sref="home" class="button button-clear icon ion-arrow-left-c"></button>
	  <h1 class="title">Mon profil</h1>
	</div>

	<div class="content has-header padding">
		<div class="level">
			<h2>Level 2</h2>
			<img src="img/happy-finder.svg" alt="Happy Finder">
		</div>
		<hr>
		
		<div class="row">
			<div class="col col-33 col-offset-10">
				<img src="img/share.svg" alt="Happy Finder">
			</div>
			<div class="col col-50 col-offset-10">
				<div class="count">
					<strong class="calm">25</strong>/50
				</div>
				Bulkees partagés
			</div>
		</div>
		<div class="row">
			<div class="col col-33 col-offset-10">
				<img src="img/find.svg" alt="Happy Finder">				
			</div>
			<div class="col col-50 col-offset-10">
				<div class="count">
					<strong class="energized">6</strong>
				</div>
				Bulkees partagés
			</div>
		</div>

		<hr>

		<h3>Mes badges</h3>
		<div class="row">
			<div class="col">
				<div class="b"></div>
			</div>
			<div class="col">
				<div class="b"></div>
			</div>
			<div class="col">
				<div class="b"></div>
			</div>
			<div class="col">
				<div class="b add">+</div>
			</div>
		</div>

		<button class="button button-block button-energized" ui-sref="login">Déconnexion</button>
	</div>
</ion-content>