.categories {
  max-width: 286px;
  border: solid 1px #ddd;
  border-radius: $border-radius-base;
  margin: 18px auto;
  padding: 8px;

  label {
    position: relative;
    display: block;
    float: left;
    height: 74px;
    width: 74px;
    text-align: center;
    padding: 0;

  	&.checked {
  		color: red;
  	}
  }

  input {
    display: none;
  }
}


// Colors
// 
$meubles:       #8CC63F;
$deco:          #CBE021;
$divers:        #999999;
$vetements:     #ED6754;
$culture:       #FBB07F;
$jouets:        #FF99AC;
$multimedia:    #29ABE2;
$petitelectro:  #00A99D;
$electro:       #0071BC;


@mixin category($catname, $color) {
  background: url('../img/pictos/bulkee_section-line-#{$catname}.svg');
  width: 74px;
  height: 74px;
  display: block;
  border-radius: 74px;

  &.active {
    background: url('../img/pictos/bulkee_section-#{$catname}.svg');
  }
}

.meubles      { @include category(meubles, $meubles); }
.deco         { @include category(deco, $deco); }
.divers       { @include category(divers, $divers); }
.vetements    { @include category(vetements, $vetements); }
.culture      { @include category(culture, $culture); }
.jouets       { @include category(jouets, $jouets); }
.multimedia   { @include category(multimedia, $multimedia); }
.petitelectro { @include category(petitelectro, $petitelectro); }
.electro      { @include category(electro, $electro); }

.list {
  max-width: 286px;
  margin: 0 auto;
}
