// Login page
// 
.page-login {
	text-align: center;
	img {
		width: 125px;
		margin: 0 auto 50px auto;
		display: block;
	}
	.row-center {
		height: 100vh;	
	}

	hr {
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: $light;
		margin: 16px 0;
	}
}