.level {
	text-align: center;
	img {
		width: 215px;
		height: auto;
		margin: 0 auto;
	}
} 

.count {
	color: #B3B3B3;
	font-size: 17px;
	margin-top: 10px;
	strong {
		font-size: 34px;
		font-weight: normal;
	} 
}

.page-profile {
	font-size: 12px;
	background: #fff;
}

.b {
	background: $energized;
	border-radius: 50px;
	display: block;
	width: 50px;
	height: 50px;
	&.add {
		background: transparent;
		border: solid 1px $energized;
		font-size: 29px;
		color: $energized;
		text-align: center;
		font-weight: 200;
		padding: 13px 0;
	}
}
