.pane {
	background: transparent;
}

.home {
	background: url('../img/bg.png');
	background-position: cover;
	width: 100vh;
	height: 100vh;
	display: block;
}

.angular-google-map {
    height: 100%;

    .angular-google-map-container {
        height: 100%;
    }
}
